.boton {
  background-color: #344D67;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  border-radius: 0.375rem;
  font-weight: 600;
}

.boton:hover {
  background-color: #6ECCAF;
  color: #344D67;
  cursor: pointer;
}

.boton:hover > a {
  color:#344D67;
}

.boton a {
  text-decoration: none;
  color: #6ECCAF;
}

