.contactDiv{
  background-color:rgba(92, 117, 146,0.9);
  width: 75%;
  margin: auto;
  margin-top: 3rem;
  font-family: 'Railway', sans-serif;
}

.contactTitle {
  width: 600px;
  padding: 40px!important;
  color: #223142;
  font-size: 35px;
}

.formTitle {
  color: #223142;
  margin: 30px;
}

.botonForm {
  margin-bottom: 20px;
  background-color: #344D67;
  color: #6ECCAF;
  padding: 16px;
  display: inline-block;
  border-radius: 0.375rem;
  border: none;
  font-family: 'Railway', sans-serif;
}

.botonForm:hover {
  background-color: #6ECCAF;
  color: #344D67;
}

.form {
  margin: 16px;
}